__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Виртуальное окружение
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Секреты
.env
*.env

# Покрытие кода и тесты
.coverage
htmlcov/
.pytest_cache/

# IDE и другое
Thumbs.db