{% extends 'mailings/base.html' %}
{% load cache %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="container my-5">
        <h1 class="display-5 text-center mb-4">Сервис управления рассылками</h1>

        {% cache 300 index_page user.id %}
        <div class="row g-4 text-center">
            <div class="col-md-4">
                <div class="card shadow-sm border-primary">
                    <div class="card-body">
                        <h2 class="text-primary">{{ total }}</h2>
                        <p class="mb-0">Всего рассылок</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm border-success">
                    <div class="card-body">
                        <h2 class="text-success">{{ active }}</h2>
                        <p class="mb-0">Активных рассылок</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card shadow-sm border-info">
                    <div class="card-body">
                        <h2 class="text-info">{{ unique_clients }}</h2>
                        <p class="mb-0">Уникальных клиентов</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3 mt-4">
            <div class="col-md-4">
                <a href="{% url 'mailings:recipient_list' %}" class="btn btn-outline-primary w-100">📬 Получатели</a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'mailings:message_list' %}" class="btn btn-outline-secondary w-100">✉️ Сообщения</a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'mailings:mailing_list' %}" class="btn btn-outline-success w-100">📨 Рассылки</a>
            </div>
        </div>
         {% endcache %}
    </div>
{% endblock %}